.main-color {
    background-color: #432F58;
}

.main-color.s1 {
    background-color: #341D4C;
}

.main-color.s2 {
    background-color: #210D36;
}

.main-color.l1 {
    background-color: #5D4675;
}

.main-color.l2 {
    background-color: #7B678F;
}

.sec-color {
    background-color: #2E4055;
}

.sec-color.s1 {
    background-color: #1C314A;
}

.sec-color.s2 {
    background-color: #0C1F34;
}

.sec-color.l1 {
    background-color: #445871;
}

.sec-color.l2 {
    background-color: #64768B;
}

.accent-color {
    background-color: #FADEDE;
}