footer {
  height: auto;
}

@media screen and (min-width: 1024px) {
  footer {
    height: 200px;
  }
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  footer div {
    display: flex;
    flex-direction: row;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.dropdown button {
  font-size: 18px;
}

.dropdown button span {
  margin-right: 10px;
}

.dropdown button svg {
  margin-left: 10px;
}

.dropdown-btn {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.dropdown-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-options li {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #341D4C;
  color: white;
}

@media screen and (min-width: 1024px) {
  .dropdown-options {
    display: block;
  }

  .arrow-down-icn {
    display: none;
  }

  .arrow-up-icn {
    display: none;
  }

  .dropdown button span {
    margin-right: 0;
  }
}