form {
    font-family: Ruda;
    font-size: 16px;
    height: fit-content;
    padding: 65px 100px;
}

.input-group, form button.primary-btn {
    margin: 6% 2%;
    width: 100%;
}

form div+p{
    margin-top: 1%;
    margin-bottom: 5%;
}

button svg {
    margin-left: 0.5rem;
}

.input-group label {
    display: block;
    width: auto;
    margin-bottom: 2%;
    letter-spacing: 2.5px;
}

.input-group > input {
    height: 2.3rem;
}

.sub-password span {
    letter-spacing: 2.3px;
    margin-right: 2rem;
}

.sub-password p {
    width: 4rem;
}

.header-hero {
  max-width: 1200px;
  display: flex;
  justify-content: left;
  align-items: center;
}
