/*Fuentes*/
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Slab.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MPLUS2';
  src: url('../assets/fonts/MPLUS2.ttf');
}

@font-face {
  font-family: 'Ruda';
  src: url('../assets/fonts/Ruda.ttf');
  font-weight: 200;
}

/*Reseteo de los estilos del navegador*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: Ruda;
  font-weight: normal;
  color: #F2EDED;
}

body {
  display: grid;
  grid-template-rows: 100px auto 300px;
  height: 100vh;
  background-color: #E1E1E1;
}

h1,
h2,
h3 {
  font-family: Roboto;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: underline;
}

svg {
  width: 24px;
  height: 24px;
}

/* Clases genéricas para el layout */
/*Flexbox*/
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-800 {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

/*Márgenes*/
.my-10 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.mt-10 {
  margin-top: 10%;
}

.mt-5 {
  margin-top: 5%;
}

.mb-10 {
  margin-bottom: 10%;
}

.ml-10 {
  margin-left: 10%;
}

.ml-5 {
  margin-left: 5%;
}


/*Ocultamiento*/
.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

/*Header, main y footer*/
header {
  height: 100px;
}

header svg {
  width: 24px;
  height: 24px;
}

header a {
  text-decoration: none;
}

.logo {
  position: relative;
}

.logo svg {
  transform: rotate(-30deg);
  width: 40px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: -30px;
}

main {
  height: 100%;
}

footer {
  height: 300px;
}

footer div {
  margin-top: 50px;
}

/*Botones*/

.primary-btn {
  font-family: Ruda;
  letter-spacing: 2.32px;
  font-size: 16px;
  border-radius: 30px;
  padding: 15px 20px;
  width: fit-content;
}

.nav-btn {
  padding: 10px;
  border-radius: 15px;
  color: #E1E1E1;
  border: solid 4px #E1E1E1;
}

a,button{
    cursor: pointer;
}

nav{
    position: absolute;
    top: 50px;
    width: 200px;
    height: auto;
}


nav ul li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  max-width: 200px;
}

.navigation{
    position: fixed;
    left: -500px;
    width: 350px;
    transition: .5s;
}


.bar{
    position: fixed;
}

.bar{
    top: 3px;
    background: #000;
    transition: all .3s ease-in;
}

.navigation.active{
    left: 0;
}
