@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Slab.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MPLUS2';
  src: url('../assets/fonts/MPLUS2.ttf');
}

@font-face {
  font-family: 'Ruda';
  src: url('../assets/fonts/Ruda.ttf');
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: #F2EDED;
}

h1, h2, h3 {
  font-family: Roboto;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 14px;
  font-family: Ruda;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

header {
  display: flex;
  height: 100px;
}

footer {
  height: 300px;
}

footer div {
  margin-top: 50px;
}

main {
  background-color: #E1E1E1;
}

.logo {
  /*CSS para el div del logo*/
}

.logo svg {
  width: 40px;
  height: 25px;
}

.searchbar {
  /*CSS para el div del buscador*/
}

.main-menu {
  /*CSS para el div del menu del header*/
}

.profile-pic {
  /*CSS para la imagen de perfil*/
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.primary-btn {
  border-radius: 30px;
  background-color: #432F58;
  padding: 15px 20px;
  box-shadow: none;
  width: auto;
}

.container form {
  height: 700px;
}

.input-group {
  margin: 10px;
}

.input-group label {
  display: block;
  width: auto;
}

.input-group input {}