*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #F2EDED;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Slab.ttf');
}

@font-face {
    font-family: 'MPLUS2';
    src: url('../assets/fonts/MPLUS2.ttf');
}

@font-face {
    font-family: 'Ruda';
    src: url('../assets/fonts/Ruda.ttf');
}

.main-color{
    background-color: #432F58;
}

.secondary-color{
    background-color: #2E4055;
}

.accent-color{
    background-color: #FADEDE;
}

header{
    display: flex;
    height: 100px;
}

main{
    background-color: #E1E1E1;
}

.logo{
    /*CSS para el div del logo*/
}

.logo svg{
    width: 40px;
    height: 25px;
}

.searchbar{
    /*CSS para el div del buscador*/
}

.main-menu{
    /*CSS para el div del menu del header*/
}

.profile-pic {
    /*CSS para la imagen de perfil*/
}

.hidden{
    visibility: hidden;
}

.display-none {
    display: none;
}