.action-icn {
    background-image: url('../../assets/icons/action.svg');
}

.alert-icn {
    background-image: url('../../assets/icons/alert.svg');
}

.arcade-icn {
    background-image: url('../../assets/icons/arcade.svg');
}

.cancel-icn {
    background-image: url('../../assets/icons/cancel.svg');
}

.cart-icn {
    background-image: url('../../assets/icons/cart.svg');
}

.category-icn {
    background-image: url('../../assets/icons/category.svg');
}

.dice-icn {
    background-image: url('../../assets/icons/dice.svg');
}

.empty-star-icn {
    background-image: url('../../assets/icons/empty-star.svg');
}

.facebook-icn {
    background-image: url('../../assets/icons/facebook.svg');
}

.full-screen-icn {
    background-image: url('../../assets/icons/full-screen.svg');
}

.full-star-icn {
    background-image: url('../../assets/icons/full-star.svg');
}

.game-icn {
    background-image: url('../../assets/icons/game.svg');
}

.gmail-icn {
    background-image: url('../../assets/icons/gmail.svg');
}

.google-icn {
    background-image: url('../../assets/icons/google.svg');
}

.half-star-icn {
    background-image: url('../../assets/icons/half-star.svg');
}

.hamburger-icn {
    background-image: url('../../assets/icons/hamburger.svg');
}

.info-icn {
    background-image: url('../../assets/icons/info.svg');
}

.instagram-icn {
    background-image: url('../../assets/icons/instagram.svg');
}

.left-arrow-icn {
    background-image: url('../../assets/icons/left-arrow.svg');
}

.log-out-icn {
    background-image: url('../../assets/icons/log-out.svg');
}

.profile-icn {
    background-image: url('../../assets/icons/profile.svg');
}

.race-icn {
    background-image: url('../../assets/icons/race.svg');
}

.right-arrow-icn {
    background-image: url('../../assets/icons/right-arrow.svg');
}

.rpg-icn {
    background-image: url('../../assets/icons/rpg.svg');
}

.search-purple-icn {
    background-image: url('../../assets/icons/search-purple.svg');
}

.search-white-icn {
    background-image: url('../../assets/icons/search-white.svg');
}

.sound-icn {
    background-image: url('../../assets/icons/sound.svg');
}

.sport-icn {
    background-image: url('../../assets/icons/sport.svg');
}

.strategy-icn {
    background-image: url('../../assets/icons/strategy.svg');
}

.tool-icn {
    background-image: url('../../assets/icons/tool.svg');
}

.twitter-icn {
    background-image: url('../../assets/icons/twitter.svg');
}

.arrow-down-icn {
    background: url('../../assets/icons/flecha-abajo.svg');
}

.arrow-up-icn {
    background: url('../../assets/icons/flecha-arriba.svg');
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    fill: #f1f1f1;
}