body {
    background-color: darkslategrey;
    color: white;
}

canvas {
    border: 5px solid rgb(204, 164, 32);
    background-color: darkgrey;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: var(--main);
    border: 2px solid var(--black);
    height: 500px;
}