body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body * {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    border: 5px solid rgb(204, 164, 32);
    background-color: darkgrey;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: var(--main);
    border: 2px solid var(--black);
    height: 500px;
}

div {
    background-color: var(--sec-l1);
}

div button {
    padding: 10px;
}