@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');

/*Browser stylesheet reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.primary-btn {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: var(--deep-blue);
    background-color: var(--yellow);
    border: 8px solid var(--blue);
    border-radius: 111px;
    box-sizing: content-box;
    -webkit-text-stroke: #02187E 1px;
}

.blue-shadow {
    box-shadow: 4px 5px #02187E;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--blue-gradient);
    padding: 10px;
}

.hamburger-btn {
    width: fit-content;
    cursor: pointer;
}

.hamburger-btn span{
    display: block;
    width: 34px;
    height: 4px;
    background-color: var(--yellow);
    border: 4px solid var(--blue);
    border-radius: 111px;
    box-sizing: content-box;
}

header img {
    width: 133px;
    height: 68px;
}

header .primary-btn {
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
}

.main-hero {
  position: relative;
  height: 720px;
  width: 1280px;
  background-image: url('../assets/img/clouds.png');
}

.main-hero img {
  position: absolute;
}

.image1 {
  left: -4%;
}
.image2 {
  left: 30%;
  top: 70%;
}
.image3 {
  left: 70%;
}

