.game {
  width: 70%;
}
.game img {
  width: 100%;
}
.panel-control {
  border-radius: 10px;
  width: 30%;
  margin-left: 20px;
}

.instructions p {
  margin: 10px;
}

.description-container {
  border-radius: 10px;
  height: auto;
}
.about-container {
  margin: 20px;
}
.about-container p {
  margin-top: 10px;
}

.comment-container {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.comment-container button {
  padding: 1rem 0.9rem;
}

.input-comment {
  width: 80%;
}
.input-comment input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 80%;
}

.warning-comment {
  margin-left: 10px;
  width: 20%;
}

.comment {
  border-radius: 10px;
  padding: 10px;
  display: flex;
}
.comment div{
  margin-left: 10px;
}

.img-profile img {
  border-radius: 30px;
  max-width: 60px;
}

.comment-info {
  width: 100%;
  max-width: 80%;
}
.comment-info p {
  border-radius: 10px;
  padding: 10px;
  background-color: #F2EDED;
  color: black;
}

.comment-title {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.comment-title h2 {
  color: black;
}

.comments-container div {
  margin-top: 10px;
}