.game {
  width: 70%;
}

.game img {
  width: 100%;
}

.panel-control {
  border-radius: 10px;
  width: 30%;
  margin-left: 20px;
}

.instructions p {
  margin: 10px;
}

.description-container {
  border-radius: 10px;
  height: auto;
}

.about-container {
  margin: 20px;
}

.about-container p {
  margin-top: 10px;
}

.comment-container {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.comment-container button {
  padding: 1rem 0.9rem;
}

.input-comment {
  width: 80%;
}

.input-comment input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 80%;
}

.warning-comment {
  margin-left: 10px;
  width: 20%;
}

/*Comment styling*/
.comments-container {
  display: flex;
  flex-direction: column;
}

.comments-container>h2 {
  color: var(--black);
  margin-bottom: 1%;
}

.comments-container>span {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--black);
  margin-bottom: 3%;
}

.comments-container .comment:not(:last-child) {
  margin-bottom: 3%;
}

.comment {
  display: grid;
  width: 90%;
  margin-left: 1%;
  grid-template-columns: 107px auto 10fr 1fr;
  grid-template-rows: 45px 30px 4px auto;
  grid-template-areas:
    "avatar userdate stars stars"
    "avatar . . ."
    "avatar content content ."
    ". content content .";
  background-color: var(--sec);
  border-radius: 20px;
  padding: 2% 2% 2% 1%;
}

.comment img {
  grid-area: avatar;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-userdate {
  grid-area: userdate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.comment-userdate * {
  color: var(--accent);
}

.comment-stars {
  grid-area: stars;
  display: flex;
  justify-content: flex-end;
}

.comment-stars svg:not(:last-child) {
  margin-right: 9px;
}

.comment>p {
  grid-area: content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--black);
  background-color: var(--white);
  border-radius: 0 1.4vmin 1.4vmin 1.4vmin;
  padding: 1.6%;
  width: fit-content;
}

.comment>p::after {
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  border: 23px solid transparent;
  border-bottom-color: var(--white);
  border-top: 0;
  border-left: 0;
}

.breadcrumbs {
  font-size: 18px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.breadcrumbs p {
  color: #432F58;
}