.main-game  {
  background-image: url('../../assets/img/tom-jerry-fondo.png');
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  width: 100%;
  min-height: 300px;  
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.category-card {
  margin-left: 10px;
  margin-right: 10px;
  width: 120px;
  height: 100px;
}

.category-card:hover {
  box-shadow: 0 0 30px rgba(153, 88, 219, 0.7);
  cursor: pointer;
}

.container-categories {
  margin: 0 auto;
  overflow: auto;
  max-width: 800px;
}
